.searchBox {
  width: 60%;
}
.search-label {
  float: left;
  width: 10%;
}
.new-user-button {
  width: 40%;
}
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.button {
  background-color: steelblue;
  color: aliceblue;
  font-size: medium;
  padding: 10px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
/* Card */
.card {
  margin: 1rem;
  padding: 0rem 0rem 1rem 0rem;
  border: solid 1px;
  border-radius: 10px 10px 0 0;
}

.red-border {
  border-color: red;
}
.green-border {
  border-color: green;
}
.red-background {
  background-color: red;
}
.green-background {
  background-color: green;
}

.card-title {
  padding: 0.5rem;
  font-weight: bold;
  color: antiquewhite;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}
/* .card-content {
} */

/*  */
.user-other-data-button {
  background-color: grey;
  font-size: small;
  padding: 10px 24px;
  margin-left: 12%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.user-other-data-button:hover {
  background-color: gainsboro;
  color: black;
}
.user-other-data {
  background-color: gainsboro;
  margin: 1rem 2rem;
  border: solid 2px lightblue;
  border-radius: 30px;
}
.user-update-delete {
  text-align: right;
}
.button-group {
  display: inline-block;
  margin: 0rem 0.5rem;
}

.tasks,
.posts,
.add-new-task {
  border: solid 1px green;
  width: 50%;
  border-radius: 10px 10px 0px 0px;
  margin-top: 2rem;
}
.toolbar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background-color: greenyellow;
  /* width: 50%; */
  border-radius: 10px 10px 0px 0px;
  padding-left: 1rem;
}
.toolbar .details-label {
  float: left;
  width: 80%;
  color: green;
}
.toolbar .button {
  float: right;
  border-radius: 0px;
  background-color: green;
}

.task-card {
  border-left: solid 10px greenyellow;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
}

.task-card .title {
  padding: 1px;
  margin-bottom: 1rem;
}
.task-card .completed label {
  font-weight: bold;
  /* padding: 1px; */
  /* margin-bottom: 1rem; */
}
.task-card .completed .button {
  font-size: medium;
  padding: 5px 20px;
  border-radius: 0px;
}

.button-green {
  background-color: green;
}

.button-red {
  background-color: red;
}

.add-new-task {
  border-radius: 10px 10px 0px 0px;
}
.add-new-task .title {
  background-color: limegreen;
  border-radius: 10px 10px 0px 0px;
  padding: 1rem;
  font-weight: bolder;
}

.task-form {
  margin: 1rem;
}
.task-form label {
  padding: 1rem;
}
.task-form input[type="text"] {
  margin-left: 1rem;
}

.form-buttons {
  text-align: right;
}
.form-buttons .submit {
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 0px;
  margin-left: 1rem;
}
.form-buttons .cancel {
  padding: 10px;
  border-radius: 0px;
  background-color: red;
}
