.signin-background {
  background-image: url("../../images/welcome.jpg");
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card-background {
  -webkit-filter: blur(20px);
}
